@import "../../../styles/palette.less";

// global styles
body {
    min-width: 400px;
    background-color: #34302d;
    border-top: 4px solid #3F9C3F;
    margin: 0px;
}


.main {
    height: 510px;

    header {
        min-height: 69px;
    
        .navigation {
            float: right;
            background-color: #34302d;
            height: 69px;
    
            ul {
                margin-top: 0;
                height: 69px;
    
                li {
                    display: inline-block;
                    height: 69px;
    
                    a {
                        display: block;
                        height: 34px;
                        padding: 10px 15px;
                        padding-top: 25px;
                        color: white;
                        text-decoration: none;
                    }
    
                    a.profile {
                        margin-right: 104px;
                    }
    
                    a:hover {
                        background-color: #3F9C3F;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
    
        }
    }

    .content {
        height: 100%;
        background-image: url("../../../img/back.jpg");
        background-size: cover;
    }

    footer{
        color: #eee;
        padding: 30px 0;
        padding-left: 30px;
    }
}

